@import '../../utils/color-schemes.module.scss';
.about{
    display: flex;
    align-items: center;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    height: 600px;
    width: auto;
    .about-picture{
        margin: 40px auto;
        height: 200px;
        width: 400px;
        background-image: url('../../assets/pictures/undraw_hello_re_3evm.svg');
        background-size:contain;
        background-repeat: no-repeat;
    }
    .about-text{
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        font-size: 1.3rem;
        margin: auto;
        width: 800px;
        height: 100%;


    }
}

    @media (max-width: 900px) {
        .about{
            .about-picture{
            }
            .about-text{
                width: 90vw;
            
                padding: 20px;
            }
        
        }
    }