@import '../../utils/color-schemes.module.scss';
.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    .about-text{
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        font-size: 1.3rem;
        margin: auto;
        width: 800px;
        height: 100%;


    }
}
.about-picture{
    display: flex;
    height: 300px;
    width: 300px;
    // background-image: url('../../assets/pictures/undraw_instant_analysis_re_mid5.svg');
    // background-size:cover;
    // background-repeat: no-repeat;
}

    @media (max-width: 900px) {
        .about{
            .about-picture{
                display: none;
            }
            .about-content{
                width: auto;
            }
            .about-text{
                width: 90vw;
            
                padding: 0px;
            }
        
        }
    }