$primary: #011d2e;
$cta: #98e7ff;
$cta-hvr: #ff818b;
$secondary: #56a2e9;
$text: #e9f0fa;

$progressbar: #b6b6b625;

$ctr2-light: #F2612F;

//construction
$xyz: #fffb0085;
:export {
primary:$primary;
cta:$cta;
secondary:$secondary;
ctr2Light:$ctr2-light;
text:$text;
  }