
.canvas{
    height: 100vh!important;
    width: 100vw;
    position: inherit;
    overflow: scroll!important;
}
::-webkit-scrollbar{
    display: none;
}
.add-button {
    position: absolute;
    top: 1px;
    left: 1px;
  }